@import "~primeflex/primeflex.css";
body {
  background-color: whitesmoke;
  height: 100vh;
  margin: 0;
}
.p-password {
  width: inherit;
}
.p-password-input {
  width: inherit;
}

h2{
  color: grey;
}

