@import "~primeflex/primeflex.css";
body {
  background: linear-gradient(to right, rgb(150, 165, 165), rgb(180, 73, 70));
  height: 100vh;
  margin: 0;
}
.p-password {
  width: inherit;
}
.p-password-input {
  width: inherit;
}

h2{
  color: grey;
}

