/* Style the container for the navigation bar */
.Application {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px;
}

/* Style the navigation links */
nav {
    display: flex;
    justify-content: space-around;
}


nav a, nav p {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    transition: color 0.3s;
}

.user-img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* This keeps the aspect ratio */
    display: block; /* Ensures the image doesn't interfere with other elements */
}

nav a:hover, nav p:hover {
    color: #00bcd4; /* Change the color on hover */
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-items: center;
}

/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content p, .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: none; /* Remove default button border */
    background: none; /* Remove default button background */
    cursor: pointer;
}

/* Change color of Link and button on hover */
.dropdown-content a:hover,
.dropdown-content p:hover {
    background-color: #f1f1f1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.icon {
    font-size: 24px; /* Adjust the size of the icon */
    line-height: 1; /* Ensure proper alignment */
}
